body {
  margin: 0;
  font-family: "Smythe", system-ui;
  user-select: none;
}

h1 {
  margin: 0;
}

h1 + p {
  margin: 0;
}

main-text,
main-sub-text {
  text-shadow: 0 0 1px #000;
}

.container {
  width: 95%;
  max-width: 500px;
  margin: 0 auto 5em auto;
}

.header {
  background-image: url("images/headImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.9em 2em;
  color: #fff;
  margin-bottom: 2em;
}

.item-section {
  display: flex;
  /* justify-content: space-around; */
  /* padding: 1em; */
  align-items: center;
  border-bottom: 1px solid #d2d2d2;
}

.item-emoji {
  font-size: 4rem;
}

.item-name {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 0;
}

.item-price {
  font-size: 1.25rem;
}

.add-on-border {
  display: flex;
  border: 1px solid #d2d2d2;
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  font-size: 1.5rem;
  font-weight: 200;
}

.add-on-border:hover {
  background-color: #393333;
  color: #fff;
}

.add-on-border:active {
  background-color: #393333; /* Change background color on click */
  transform: scale(0.95); /* Slightly shrink the button */
}

.item-description {
  color: #8b8b8b;
}

/* bill-footer */

footer {
  margin-bottom: 5 em;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
}
.bill-item,
.final-total {
  display: flex;
}

.bill-items {
  border-bottom: 2px solid #393333;
  margin-bottom: 1em;
}

.bill-item-name {
  font-size: 1.75rem;
}

.bill-total {
  margin-left: auto;
}

.bill-item-remove {
  color: #bbbbbb;
  font-size: 0.75rem;
  margin-left: 0.9em;
  margin-top: 1em;
}
.final-total {
  margin-bottom: 1.7em;
}

.btn {
  background-color: #16db99;
  display: block;
  margin: 0 auto;
  width: 100%;
  border: none;
  padding: 1em;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

/*  utility class*/

.hidden {
  display: none;
}

.bill-item-remove {
  cursor: pointer;
}
.bill-item-remove:hover {
  color: #393333;
}
.bill-item-remove:active {
  transform: scale(0.95);
}

/* form */

.form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 300px;
  margin: auto;
  padding: 2em;
  box-shadow: 0 0 10px #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 342px;
  /* border: 2px solid red; */
}

.form-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
input {
  width: 100%;
  padding: 0.7em;
  font-size: 1.25rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 1em;
  box-sizing: border-box;
}

/* final msg */

main,
.order-display {
  margin-bottom: 3em;
}
.order-display {
  background-color: #ecfdf5;
  padding: 0.5em 1em;
  font-size: 2rem;
  color: #065f46;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  z-index: 1000;
}
